# Ignore Docker-related files
**/Dockerfile*
**/docker-compose.yml

# Ignore build directories
build/
dist/

# Ignore Docker volumes
volumes/

# Ignore Docker logs
*.log

# Ignore temporary files created by Docker
.dockerignore

# Ignore image caches and container data
docker/

# Ignore IDE specific files
.vscode/
.idea/
